body{
    font-family: 'Lexend Zetta', sans-serif;
    color: #1c1c1c;
}

h1, h2, h3{
    font-family: 'Lexend Zetta', sans-serif;
    color: #020202;
}
.botao{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgba(5, 5, 5, 95%);
    font-size: .9em;
    border-radius: 3px;
    border-width: 1px;
    border-color: #FFFFFF;
}
/*Navegação*/
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(5, 5, 5, 95%);
}
nav > a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Rakkas', cursive;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}
nav ul li {
    text-align: center;
    width: 100%;
}
nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}
/*Cabeçalho*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/cp1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
header h1{
    color: #FFFFFF;
}
header p{
    margin-bottom: 2em;
}
#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: rgba(5, 5, 5, 95%);
    color: #FFFFFF;
}
#sobre h2{
    color: #FFFFFF;
}
#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
    color: #f1f1f1;
}
#sobre .botao{
    background-color: #f1f1f1;
    color:#1c1c1c
}
/*serviços*/
#serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
#serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
/*projetos*/
#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
#projetos h2 {
    margin-bottom: 20px;
}
#projetos img{
    width: 100%;
}
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#contato h2{
    color: #000000;
}
/*rodapé*/
footer{
    text-align: center;
    padding: 10px;
    background-color: rgba(5, 5, 5, 95%);
    color: #FFFFFF;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}
@media screen and (min-width: 768px) {
    /*nav*/
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }
    /*cabeçalho*/
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    #sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    #serviços {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #serviços h2 {
        text-align: center;
        width: 100%;
    }
    #serviços div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    #serviços img {
        max-width:80px;
        max-height:80px;
        width: auto;
        height: auto;
    }
    /*projetos*/
    #projetos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #projetos h2{
        width: 100%;
        text-align: center;
    }
    #projetos img{
        width: 33.3333333%;
    }
    /*contato*/
    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato img {
        max-width:50px;
        max-height:50px;
        width: auto;
        height: auto;
    }
    #contato h2, #contato p{
        width: 100%;
    }
}
